#jobTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#jobTable td, #jobTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#jobTable tr:nth-child(even){background-color: #f2f2f2;}

#jobTable tr:hover {background-color: #ddd;}

#jobTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

body {
  background-color: #343a40;
}
